#include "_Common.xcconfig"

// language features

CLANG_ENABLE_OBJC_ARC = NO

//                                  __STDC_NO_THREADS__ as long as compilers lie
COMMON_GCC_PREPROCESSOR_DEFINITIONS=__STDC_NO_THREADS__
GCC_ENABLE_OBJC_EXCEPTIONS = YES  # mulle-objc needs it
GCC_ENABLE_PASCAL_STRINGS = NO
GCC_C_LANGUAGE_STANDARD = c11
GCC_NO_COMMON_BLOCKS = YES


// warnings
GCC_WARN_MISSING_PARENTHESES = NO
WARNING_CFLAGS = -Wno-objc-protocol-method-implementation -Wno-objc-root-class -Wno-parentheses -Wno-nullability-completeness -Wno-protocol -Wno-objc-missing-super-calls -Wno-int-to-void-pointer-cast $(inherited)
CLANG_WARN_SUSPICIOUS_IMPLICIT_CONVERSION = YES
CLANG_WARN_UNREACHABLE_CODE = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
GCC_WARN_ABOUT_MISSING_FIELD_INITIALIZERS = YES
GCC_WARN_ABOUT_MISSING_NEWLINE = YES
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES_ERROR
GCC_WARN_SIGN_COMPARE = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES
GCC_WARN_UNUSED_VARIABLE = YES
GCC_WARN_UNUSED_FUNCTION = YES


ALWAYS_SEARCH_USER_PATHS = NO
PRODUCT_NAME = $(TARGET_NAME)


DEPENDENCY_DIR = $(PROJECT_DIR)/dependency

HEADER_SEARCH_PATHS = $(DEPENDENCY_DIR)/include /usr/local/include $(inherited)
LIBRARY_SEARCH_PATHS = $(DEPENDENCY_DIR)/$(LIBRARY_CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)/lib $(DEPENDENCY_DIR)/$(LIBRARY_CONFIGURATION)/lib $(DEPENDENCY_DIR)/$(EFFECTIVE_PLATFORM_NAME)/lib $(DEPENDENCY_DIR)/lib /usr/local/lib $(inherited)

FRAMEWORK_SEARCH_PATHS = $(DEPENDENCY_DIR)/$(LIBRARY_CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)/Frameworks $(DEPENDENCY_DIR)/$(LIBRARY_CONFIGURATION)/Frameworks $(DEPENDENCY_DIR)/Release$(EFFECTIVE_PLATFORM_NAME)/Frameworks $(DEPENDENCY_DIR)/Frameworks $(inherited)
