ALWAYS_SEARCH_USER_PATHS = NO
GCC_C_LANGUAGE_STANDARD = gnu11
PRODUCT_NAME = $(TARGET_NAME)

// ... need to make this smarter 
CLANG_ENABLE_OBJC_ARC = NO
CLANG_WARN_OBJC_ROOT_CLASS = NO

GCC_WARN_MISSING_PARENTHESES = NO

// having this set to NO, gived weird problems with "C" globals
GCC_NO_COMMON_BLOCKS = YES


// __STDC_NO_THREADS__ as long as compilers lie
COMMON_GCC_PREPROCESSOR_DEFINITIONS=__STDC_NO_THREADS__

DEPENDENCIES_DIR = $(PROJECT_DIR)/dependencies

HEADER_SEARCH_PATHS = $(DEPENDENCIES_DIR)/include /usr/local/include $(inherited) /include\ /usr/local/include\
LIBRARY_SEARCH_PATHS = $(DEPENDENCIES_DIR)/lib/$(LIBRARY_CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME) $(DEPENDENCIES_DIR)/lib/$(LIBRARY_CONFIGURATION) $(DEPENDENCIES_DIR)/lib/Release$(EFFECTIVE_PLATFORM_NAME) $(DEPENDENCIES_DIR)/lib/Release $(DEPENDENCIES_DIR)/lib /usr/local/lib $(inherited)
FRAMEWORK_SEARCH_PATHS = $(DEPENDENCIES_DIR)/Frameworks/$(LIBRARY_CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME) $(DEPENDENCIES_DIR)/Frameworks/$(LIBRARY_CONFIGURATION) $(DEPENDENCIES_DIR)/Frameworks/Release$(EFFECTIVE_PLATFORM_NAME) $(DEPENDENCIES_DIR)/Frameworks/Release $(DEPENDENCIES_DIR)/Frameworks $(inherited)
