#include "Common.xcconfig"

DEBUG_INFORMATION_FORMAT = dwarf
ENABLE_NS_ASSERTIONS = YES
ONLY_ACTIVE_ARCH = YES


OTHER_CFLAGS=$(inherited)
WARNING_CFLAGS = -Wno-protocol $(inherited)

GCC_OPTIMIZATION_LEVEL = 0
GCC_PREPROCESSOR_DEFINITIONS = DEBUG $(COMMON_GCC_PREPROCESSOR_DEFINITIONS)

// ?
COPY_PHASE_STRIP = NO
STRIP_INSTALLED_PRODUCT = NO

LIBRARY_CONFIGURATION = Debug
