#include "Common.xcconfig"

DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
ENABLE_NS_ASSERTIONS = NO

OTHER_CFLAGS=-fomit-frame-pointer $(inherited)
WARNING_CFLAGS = -Wno-protocol $(inherited)

GCC_OPTIMIZATION_LEVEL = fast
GCC_PREPROCESSOR_DEFINITIONS = NDEBUG $(COMMON_GCC_PREPROCESSOR_DEFINITIONS)

GCC_OPTIMIZATION_LEVEL = fast
GCC_PREPROCESSOR_DEFINITIONS = NDEBUG $(COMMON_GCC_PREPROCESSOR_DEFINITIONS)

LIBRARY_CONFIGURATION = Release
