#include "Common.xcconfig"

DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
ENABLE_NS_ASSERTIONS = NO

OTHER_CFLAGS=-fomit-frame-pointer $(inherited)

// override common here

CLANG_WARN_UNREACHABLE_CODE = YES_AGGRESSIVE
GCC_WARN_UNINITIALIZED_AUTOS = YES_AGGRESSIVE

GCC_OPTIMIZATION_LEVEL = fast
GCC_PREPROCESSOR_DEFINITIONS = NDEBUG $(COMMON_GCC_PREPROCESSOR_DEFINITIONS)

LIBRARY_CONFIGURATION = Release
